@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

.ProseMirror .is-empty::before {
    content: attr(data-placeholder);
    float: left;
    color: var(--muted-foreground) !important;
    font-size: 0.875em;
    pointer-events: none;
    height: 0;
}

:root {
    --background: oklch(0.1448 0.0000 0);
    --foreground: oklch(0.9706 0.0057 84.5662);
    --card: oklch(0.2228 0.0025 67.6992);
    --card-foreground: oklch(0.9706 0.0057 84.5662);
    --popover: oklch(0.2228 0.0025 67.6992);
    --popover-foreground: oklch(0.9706 0.0057 84.5662);
    --primary: oklch(0.8686 0.1697 120.8545);
    --primary-foreground: oklch(0.1875 0.0026 67.6689);
    --secondary: oklch(0.2933 0.0423 120.8545);
    --secondary-foreground: oklch(0.8686 0.1697 120.8545);
    --muted: oklch(0.2456 0.0195 120.8545);
    --muted-foreground: oklch(0.6637 0.0236 120.8545);
    --accent: oklch(0.8686 0.1697 120.8545);
    --accent-foreground: oklch(0.1875 0.0026 67.6689);
    --destructive: oklch(0.6257 0.2058 29.0773);
    --destructive-foreground: oklch(0.9436 0.0051 228.8204);
    --border: oklch(0.3351 0.0253 120.8545);
    --input: oklch(0.3351 0.0253 120.8545);
    --ring: oklch(0.8686 0.1697 120.8545);
    --chart-1: oklch(0.8686 0.1697 120.8545);
    --chart-2: oklch(0.6509 0.1283 120.8545);
    --chart-3: oklch(0.4335 0.0754 120.8545);
    --chart-4: oklch(0.7583 0.1562 120.8545);
    --chart-5: oklch(0.32 0.05 120.8545);
    --sidebar: oklch(0.1875 0.0026 67.6689);
    --sidebar-foreground: oklch(0.9706 0.0057 84.5662);
    --sidebar-primary: oklch(0.8686 0.1697 120.8545);
    --sidebar-primary-foreground: oklch(0.1875 0.0026 67.6689);
    --sidebar-accent: oklch(0.2933 0.0423 120.8545);
    --sidebar-accent-foreground: oklch(0.8686 0.1697 120.8545);
    --sidebar-border: oklch(0.3351 0.0253 120.8545);
    --sidebar-ring: oklch(0.8686 0.1697 120.8545);
    --radius: 0rem;
    --highlight: oklch(0.852 0.199 91.936);
    --brand: oklch(0.707 0.165 254.624);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
    --font-sans: var(--font-sans);
    --font-mono: var(--font-mono);
    --font-serif: var(--font-serif);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --shadow-2xs: 1px 1px 0px 0px var(--color-border);
    --shadow-xs: 2px 2px 0px 0px var(--color-border);
    --shadow-sm: 2px 2px 0px 0px var(--tw-shadow-color, var(--color-primary));
    --shadow: 4px 4px 0px 0px var(--tw-shadow-color, var(--color-primary));
    --shadow-md: 6px 6px 0px 0px var(--tw-shadow-color, var(--color-primary));
    --shadow-lg: 8px 8px 0px 0px var(--tw-shadow-color, var(--color-primary));
    --shadow-xl: 12px 12px 0px 0px var(--tw-shadow-color, var(--color-primary));
    --shadow-2xl: 16px 16px 0px 0px var(--tw-shadow-color, var(--color-primary));
    --color-brand: var(--brand);
    --color-highlight: var(--highlight);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }

    body {
        @apply bg-background text-foreground;
        letter-spacing: var(--tracking-normal);
    }

    @supports (-moz-appearance: none) {
        * {
            scrollbar-width: thin;
            scrollbar-color: color-mix(in oklab, var(--primary) 30%, transparent) transparent;
        }
    }

    /* WebKit Rules */
    ::-webkit-scrollbar {
        width: 12px;
        height: 12px;
    }

    ::-webkit-scrollbar-track,
    ::-webkit-scrollbar-track:hover {
        background-color: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background: color-mix(in oklab, var(--primary) 60%, transparent);
        border-radius: 9999px;
        border: 3px solid transparent;
        background-clip: content-box;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: color-mix(in oklab, var(--primary) 80%, transparent);
        border-radius: 9999px;
        border: 3px solid transparent;
        background-clip: content-box;
    }

    ::-webkit-scrollbar-corner {
        background-color: transparent;
    }

    ::selection {
        color: var(--accent-foreground);
        background-color: var(--accent);
    }


}

@utility scrollbar-hide {
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;

    &::-webkit-scrollbar {
        display: none !important;
        width: 0 !important;
        height: 0 !important;
    }
}

@utility bg-grid-slate {
    background-image: linear-gradient(0deg, transparent 24%, rgba(200, 200, 200, 0.05) 25%, rgba(200, 200, 200, 0.05) 26%, transparent 27%, transparent 74%, rgba(200, 200, 200, 0.05) 75%, rgba(200, 200, 200, 0.05) 76%, transparent 77%, transparent),
    linear-gradient(90deg, transparent 24%, rgba(200, 200, 200, 0.05) 25%, rgba(200, 200, 200, 0.05) 26%, transparent 27%, transparent 74%, rgba(200, 200, 200, 0.05) 75%, rgba(200, 200, 200, 0.05) 76%, transparent 77%, transparent);
    background-size: 50px 50px;
}

@utility bg-blueprint {
    background-size: 40px 40px;
    background-image: linear-gradient(to right, var(--color-border) 1px, transparent 1px),
    linear-gradient(to bottom, var(--color-border) 1px, transparent 1px);
}

@utility bg-blueprint-card {
    background-color: #0A0A0A;
    background-size: 16px 16px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.04) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.04) 1px, transparent 1px);
}

@utility tab-list {
    @apply flex w-full! bg-transparent! gap-2! p-0!;
}

@utility tab-trigger {
    @apply rounded-none! border-2! border-border! bg-transparent! cursor-pointer px-8 py-2 font-mono text-xs font-bold uppercase tracking-widest text-muted-foreground transition-all hover:bg-muted/50! data-[state=active]:border-primary! data-[state=active]:bg-primary! data-[state=active]:text-background!;
}

@utility sidebar-text-collapse {
    @apply overflow-hidden whitespace-nowrap transition-all duration-600 ease-in-out group-data-[collapsible=icon]:w-0 group-data-[collapsible=icon]:opacity-0;
}

@utility text-telemetry {
    @apply font-mono text-[10px]! font-bold tracking-widest uppercase;
}

@utility text-console {
    @apply font-mono text-xs! font-bold tracking-widest uppercase;
}

@utility text-console-md {
    @apply font-mono text-sm! font-bold tracking-wider uppercase;
}

@utility text-console-lg {
    @apply font-mono text-base! font-bold tracking-wide uppercase;
}